@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --active-tab-bg: #3b82f6;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active-tab {
  background-color: var(--active-tab-bg) !important;
  color: white !important;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Leaflet overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
}

.leaflet-routing-container {
  display: none;
}